name: test
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim-version: ["nightly", "stable"]

    steps:
      - uses: actions/checkout@v4

      - name: Install luau-lsp
        run: |
          wget https://github.com/JohnnyMorganz/luau-lsp/releases/latest/download/luau-lsp-linux-x86_64.zip
          unzip luau-lsp-linux.zip -d bin
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Run tests
        uses: lumen-oss/nvim-busted-action@v1.1.1
        with:
          nvim_version: ${{ matrix.neovim-version }}
