name: test
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim-version: ["nightly", "stable", "v0.9.0"]

    steps:
      - uses: actions/checkout@v4

      - name: Install luau-lsp
        run: |
          wget https://github.com/JohnnyMorganz/luau-lsp/releases/latest/download/luau-lsp-linux-arm64.zip
          unzip luau-lsp-linux-arm64.zip
          sudo mv luau-lsp /usr/local/bin/luau-lsp

      - name: Run tests
        uses: nvim-neorocks/nvim-busted-action@v1
        with:
          nvim_version: ${{ matrix.neovim-version }}
